@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "nunito-semibold";
    src: url("/fonts/Nunito/static/Nunito-SemiBold.ttf") format("truetype");
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 2000px;
  }
}

.flex-row-center {
  @apply flex flex-row;
}
.text-preset-1 {
  @apply text-1 leading-110 -tracking--2 font-bold;
}
.text-preset-5 {
  @apply text-5 leading-140 -tracking--0.5;
}

.text-preset-7 {
  @apply text-7 leading-150 -tracking--0.3 font-nunito-semibold;
}
.button {
  @apply border-none px-36 py-16 bg-neutral-900 text-white font-bold rounded-radius-10;
}

@layer components {
  .nav-item-active {
    @apply relative;
  }
  .nav-item-active::before {
    content: "";
    @apply absolute w-full border-orange-500 border-b-2 bottom-0 rounded-full;
  }
}
